/* Latest News */
.news {
    padding-top: 3rem;
}

.news h3 {
    text-align: center;
    color: var(--color-copy);
    font-size: 2rem;
    margin: 0;
}

.news h4 {
    background-color: rgb(100, 100, 100);
    width: 7rem;
    height: .4rem;
    margin: .5rem auto;
}

.news__cards {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.news__card {
    width: 20rem;
    height: 27.5rem;
    border: solid 2px #e8f0f8;
    box-shadow: 0px 0px 10px 5px #e8f0f8;
    margin: 0 30px;
}

.news__card img {
    width: 19.75rem;
}

.news__card p {
    padding: 0 2rem;
    font-size: .85rem;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.news__card a {
    margin-left: 13.5rem;
    color: var(--color-copy);
    font-weight: 600;
    font-size: .9rem;
    text-decoration: none;
}

.crevron-btn {
    padding-left: 1rem;
}

.read__news {
    transition: 0.2s;
}

.read__news:hover {
    color: rgb(60, 0, 180);
    text-decoration: underline;
}

/* Slick Latest News Cards */
.slick-dots li {
    background: #9fd2ff;
    width: 40px;
    height: 7px;
    margin: 0 10px;
}

.slick-dots li button {
    height: 7px;
    padding: 0;
}

.slick-dots li.slick-active button {
    background-color: #0864b1;
    width: 40px;
}

.slick-dots li button:before {
    font-size: 0;
}

/* Newslatter */
.newsletter__card {
    background-color: var(--color-copy);
    margin-top: 5rem;
}

.newsletter {
    width: 80rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.newsletter h3 {
    font-size: 2.5rem;
    width: 22rem;
    color: #fff;
}

.email__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-newsletter {
    padding: .5rem;
    height: 3rem;
    width: 15rem;
    outline-color: var(--color-copy);
    border: unset;
}

#input-newsletter::placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    text-align: center;
}

#btn-newsletter {
    width: 11rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 1rem;
    border: unset;
    cursor: pointer;
    color: #fff;
    background-color: var(--color-copy);
    border: solid 3px #fff;
    transition: .3s;
}

#btn-newsletter:hover {
    color: var(--color-copy);
    border-color: rgb(200, 200, 300);
    background-color: #9fd2ff;
    
}

#btn-newsletter:active {
    background-color: rgb(200, 200, 300); 
    transition: 0s;
}

/* Testimonials */

.testimonials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5f5;
    padding-bottom: 2rem;
}

.testimonials h3 {
    color: var(--color-copy);
    font-size: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.testimonials h4 {
    background-color: rgb(100, 100, 100);
    width: 7rem;
    height: .4rem;
    margin: .5rem auto;
}

.testimonials__cards {
    width: 53rem;
    margin: 0 5rem;
}

.testimonial__card {
    text-align: center;
    width: 50rem;
}

.testimonial__content {
    background-color: #fff;
    padding: 2rem;
    margin-top: 2rem;
}

.testimonial__paragraph {
    font-size: 1.405rem;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.testimonial__card span {
    font-weight: 700;
    color: var(--color-copy);
    font-size: 1.5rem;
}

.testimonial__complement {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.8);
}

.testimonial__slider {
    display: flex;
    align-items: center;
}

.arrow_prev, .arrow_next {
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.fa-quote-left {
    color: var(--color-copy);
    font-size: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.fa-quote-right {
    color: var(--color-copy);
    font-size: 2rem;
    position: absolute;
    right: -15px;
    top: -15px;
}
